In [4]:
import pandas as pd
import yfinance as yf

symbol_list_ibrx = list(pd.read_excel('C:/projeto_python/ibrx.xls')['CÃ³digo'].values)
symbol_list_ibrx

['RRRP3',
 'ALPA4',
 'ABEV3',
 'AMER3',
 'ASAI3',
 'AZUL4',
 'B3SA3',
 'BIDI11',
 'BPAN4',
 'BBSE3',
 'BRML3',
 'BBDC3',
 'BBDC4',
 'BRAP4',
 'BBAS3',
 'BRKM5',
 'BRFS3',
 'BPAC11',
 'CRFB3',
 'CCRO3',
 'CMIG4',
 'CESP6',
 'CIEL3',
 'COGN3',
 'CPLE6',
 'CSAN3',
 'CPFE3',
 'CMIN3',
 'CVCB3',
 'CYRE3',
 'DXCO3',
 'ECOR3',
 'ELET3',
 'ELET6',
 'EMBR3',
 'ENBR3',
 'ENGI11',
 'ENEV3',
 'EGIE3',
 'EQTL3',
 'EZTC3',
 'FLRY3',
 'GGBR4',
 'GOAU4',
 'GOLL4',
 'NTCO3',
 'SOMA3',
 'HAPV3',
 'HYPE3',
 'IGTI11',
 'IRBR3',
 'ITSA4',
 'ITUB4',
 'JBSS3',
 'KLBN11',
 'LIGT3',
 'RENT3',
 'LCAM3',
 'LWSA3',
 'AMAR3',
 'LREN3',
 'MGLU3',
 'MRFG3',
 'CASH3',
 'BEEF3',
 'MOVI3',
 'MRVE3',
 'MULT3',
 'PCAR3',
 'PETR3',
 'PETR4',
 'PRIO3',
 'PETZ3',
 'PSSA3',
 'POSI3',
 'QUAL3',
 'RADL3',
 'RDOR3',
 'RAIL3',
 'SBSP3',
 'SANB11',
 'STBP3',
 'CSNA3',
 'SLCE3',
 'SULA11',
 'SUZB3',
 'TAEE11',
 'VIVT3',
 'TIMS3',
 'TOTS3',
 'UGPA3',
 'USIM5',
 'VALE3',
 'VIIA3',
 'VBBR3',
 'WEGE3',
 'YDUQ3']

In [5]:


df_scan = pd.DataFrame()
for ativo in symbol_list_ibrx:
    df2 =pd.DataFrame()
    chamada_api = yf.Ticker(ativo+'.SA')
    closes = chamada_api.history(period='36mo')['Close'].values
    dividendos = chamada_api.history(period='36mo')['Dividends'].values
    datas = list(chamada_api.history(period='36mo').index)
    

    df2['Closes'] = closes
    df2['Dividendos'] = dividendos
    df2['Datas'] = datas
    df2 = df2.set_index('Datas',drop = True)

    soma_dividendos = 0

    for k,v in df2.iterrows():
        if k.year == 2020 or k.year == 2021:
            soma_dividendos += v['Dividendos']
    
    dividend_yield = ((soma_dividendos/2) / df2['Closes'].values[-1] )*100

    df_scan[ativo] = [dividend_yield]

df_scan.transpose().sort_values(by = 0,ascending=False)[:20]

                0
BRAP4   16.188985
CPFE3   11.208370
BBSE3   10.779574
GOAU4   10.179153
CPLE6    9.845948
CYRE3    9.674238
MRFG3    9.648883
CESP6    9.356709
PETR3    9.279873
TAEE11   9.025227
PETR4    8.838060
ELET6    8.825308
VALE3    8.671988
BRKM5    8.308407
ELET3    8.101723
VIVT3    8.030385
SANB11   7.819644
QUAL3    7.773083
IRBR3    6.846722
EGIE3    6.571035